.item {
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  cursor: pointer;
}

.item p {
  margin-left: 12px;
  font-size: 36px;
  font-family: var(--font-dmSans);
  color: white;
  font-weight: 500;
}
